@import url( "./common.css" );

body {
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

input.none {
    border: 0px;
}

/*third whole*/
table.logo_tab {
    width: 95%;
    border: 0px;
    background-image: url( ../images/kcxx_top_l.gif );
    background-repeat: repeat-x;
    background-position: top left;
    margin:0 auto;
}

td.logo {
    background-image: url( ../images/kcxx_top_r.gif );
    background-repeat: no-repeat;
    background-position: top right;
    width: 308px;
    height: 98px;
}

table.content_tab {
    width: 95%;
    border: 0px;
    background-color: #EEEEEE;
    margin:0 auto;
}

td.content {
    background-image: url( ../images/kcxx_center.gif );
    background-repeat: repeat-y;
    background-position: top right;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: top;
}

table.foot_tab {
    width: 95%;
    border: 0px;
    background-image: url( ../images/kcxx_bottom_m.gif );
    background-repeat: repeat-x;
    background-position: top left;
    margin:0 auto;
}

td.foot_left {
    background-image: url( ../images/kcxx_bottom_l.gif );
    background-repeat: no-repeat;
    background-position: top left;
    width: 21px;
    height: 25px;
}

td.foot_right {
    background-image: url( ../images/kcxx_bottom_r.gif );
    background-repeat: no-repeat;
    background-position: top right;
    width: 463px;
}

/*
table.content_tab_big{
	width:95%;
	border:0px;
	background-color:#EEEEEE;
}
table.logo_tab_big{
	width:95%;
	border:0px;
	background-image:url(../images/kcxx_top_l.gif);
	background-repeat: repeat-x;
	background-position: top left;
}
table.foot_tab_big{
	width:95%;
	border:0px;
	background-image:url(../images/kcxx_bottom_m.gif);
	background-repeat: repeat-x;
	background-position: top left;
}
*/

/*text*/
.statusnatural {
    color: #006600;
}

.statushalt {
    color: #cc0000;
}

.explain {
    color: #993300;
    letter-spacing: 1px;
}

td q {
    color: #993300;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: normal;
}

/*link*/
a.navigation {
    letter-spacing: 1px;
    text-decoration: none;
}

a.navigation:link {
    color: #000000;
}

a.navigation:visited {
    color: #000000;
}

a.navigation:hover {
    color: #0000FF;
}

a.infolist {
    letter-spacing: 1px;
}

a.infolist:link {
    color: #000000;
    text-decoration: underline;
}

a.infolist:visited {
    color: #000000;
    text-decoration: underline;
}

a.infolist:hover {
    color: #0000FF;
    text-decoration: none;
}

a.statusnatural {
    letter-spacing: 1px;
}

a.statusnatural:link {
    color: #006600;
    text-decoration: none;
}

a.statusnatural:visited {
    color: #006600;
    text-decoration: none;
}

a.statusnatural:hover {
    color: #006600;
    text-decoration: underline;
}

a.statushalt {
    letter-spacing: 1px;
}

a.statushalt:link {
    color: #cc0000;
    text-decoration: none;
}

a.statushalt:visited {
    color: #cc0000;
    text-decoration: none;
}

a.statushalt:hover {
    color: #cc0000;
    text-decoration: underline;
}

a.down {
    font-size: 12px;
    letter-spacing: 2px;
}

a.down:link {
    color: #BE620E;
    text-decoration: underline;
}

a.down:visited {
    color: #BE620E;
    text-decoration: underline;
}

a.down:hover {
    color: #B68229;
    text-decoration: none;
}

/*content*/
#title {
    width: 92%;
    border: 0px;
    margin:0 auto;
    text-align: center;
}

#title table {
    border: 0px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#title td {
    background-image: url( ../images/third_title.gif );
    background-position: right top;
    background-repeat: no-repeat;
    padding-right: 20px;
}

#title table tr td div {
    background-image: url( ../images/third_title.gif );
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #CC0000;
    letter-spacing: 2px;
}

table.title {
    width: 92%;
    border: 0px;
    text-align: center;
}

table.title {
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #CC0000;
    letter-spacing: 2px;
}

table.subtitle {
    width: 92%;
    border-top: 1px solid #C49760;
    margin:0 auto;
}

table.subtitle #rightbg {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #FAF1C9;
    background-image: url( ../images/biaoge_pic.gif );
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 50px;
}

table.subtitle td {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: #FAF1C9;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    letter-spacing: 3px;
    text-indent: 15px;
    text-align: left;
    height: 20px;
}

table.error_tab {
    border-width: 1px;
    border-style: dashed dashed solid dashed;
    border-color: #C49760;
    width: 92%;
    margin:0 auto 15px;
}

table.error_tab td {
    background-color: #F7EDD2;
    padding-left: 25px;
    line-height: 170%;
    color: #D50000;
    height: 23px;
    letter-spacing: 1px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

table.broken_tab {
    border-top: 1px dashed #C49760;
    border-right: 1px dashed #C49760;
    border-bottom: 1px solid #C49760;
    border-left: 1px dashed #C49760;
    width: 92%;
    margin:0 auto;
}

table.broken_tab td {
    background-color: #F7EDD2;
    text-indent: 25px;
    height: 23px;
    text-align: left;
    padding-top: 2px;
}

table.broken_tab {
    border-top: 1px dashed #C49760;
    border-right: 1px dashed #C49760;
    border-bottom: 1px solid #C49760;
    border-left: 1px dashed #C49760;
    width: 92%;
}

table.broken_tab td {
    background-color: #F7EDD2;
    padding-left: 25px;
    height: 23px;
    text-align: left;
    padding-top: 2px;
    letter-spacing: 1px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

table.label_tab {
    border-bottom: 1px solid #eeeeee;
    background-color: #FFFFFF;
    width: 92%;
}

table.label_tab td {
    background-color: #9f9f9f;
    background-image: url( ../images/thirdjiao1.gif );
    background-repeat: no-repeat;
    background-position: top right;
    padding-left: 10px;
    padding-right: 18px;
    text-align: left;
    height: 20px;
    letter-spacing: 1px;
}

table #current_label {
    background-color: #f1dca9;
    background-image: url( ../images/thirdjiao2.gif );
    background-repeat: no-repeat;
    background-position: top right;
    padding-left: 10px;
    padding-right: 18px;
    font-size: 12px;
    color: #570000;
    text-align: left;
    height: 20px;
    letter-spacing: 1px;
}

table.label_tab #end {
    background-color: #EEEEEE;
    background-image: url( );
    width: 90%;
}

table.label_tab a {
    letter-spacing: 1px;
    text-decoration: none;
}

table.label_tab a:link {
    color: #ffffff;
}

table.label_tab a:visited {
    color: #ffffff;
}

table.label_tab a:hover {
    color: #570000;
}

#current_label a:link {
    color: #570000;
}

#current_label a:visited {
    color: #570000;
}

#current_label a:hover {
    color: #570000;
}

table.infolist_hr {
    border-left: 1px solid #B68229;
    border-top: 1px solid #B68229;
    background-color: #FFFFFF;
    width: 92%;
    margin:0 auto;
}

table.infolist_hr th {
    background-color: #F7EDD2;
    border-right: 1px solid #B68229;
    border-bottom: 1px solid #B68229;
    letter-spacing: 1px;
    height: 22px;
    text-align: center;
    padding-top: 4px;
    font-weight: normal;
}

table.infolist_hr th a:link {
    color: #000;
    text-decoration: underline;
}

table.infolist_hr th a:visited {
    color: #000;
    text-decoration: underline;
}

table.infolist_hr th a:hover {
    color: #570000;
    text-decoration: none;
}

tr.infolist_hr_common {
    background-color: #FFFFFF;
}

tr.infolist_hr_current {
    background-color: #FBF6A2;
}

table.infolist_hr td {
    border-right: 1px solid #B68229;
    border-bottom: 1px solid #B68229;
    letter-spacing: 1px;
    height: 22px;
    padding-left: 4px;
    padding-top: 2px;
}

td.center {
    text-align: center;
}

th.top {
    vertical-align: top;
    padding-top: 4px;
}

table.infolist_vt {
    border-left: 1px solid #B68229;
    border-top: 1px solid #B68229;
    width: 92%;
    margin:0 auto;
}

table.infolist_vt tr {
    background-color: #FFFFFF;
}

table.infolist_vt th {
    background-color: #F7EDD2;
    border-right: 1px solid #B68229;
    border-bottom: 1px solid #B68229;
    letter-spacing: 1px;
    height: 22px;
    padding-left: 8px;
    padding-top: 2px;
    font-weight: normal;
    text-align:left;
}

table.infolist_vt td {
    border-right: 1px solid #B68229;
    border-bottom: 1px solid #B68229;
    letter-spacing: 1px;
    padding-left: 4px;
    padding-top: 2px;
    text-align:left;
}

table.infolist_vt td iframe {
    height: 500px;
}

td.gray {
    background-color: #F6F6F6;
}

table.infolist_vt #gray {
    background-color: #F6F6F6;
}

table.tabletitle_tab {
    border-right: 1px solid #B68229;
    border-left: 1px solid #B68229;
    width: 92%;
    margin:0 auto;
}

td.narrate {
    border-top: 1px solid #B68229;
    background-color: #F3E4BE;
    padding-left: 30px;
    letter-spacing: 1px;
    height: 20px;
}

td.subcaption {
    border-top: 1px solid #B68229;
    background-image: url( ../images/dot.gif );
    background-position: 13px center;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 4px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #990000;
    height: 20px;
}

table.navigation_tab {
    width: 92%;
    border: 0px;
    /*margin-top: 2px;*/
    /*margin-bottom: 8px;*/
    margin:2px auto 8px;
}

table.navigation_tab tr {
    text-align: left;
    padding-left: 5px;
}

td.navigation {
    letter-spacing: 2px;
    text-align: right;
    padding-right: 5px;
}

td b {
    color: #c00;
    font-weight: normal;
}

table.button_tab {
    width: 92%;
    border: 0px;
    margin:10px auto 0;
}

table.button_tab td {
    text-align: center;
}

table.explain_tab {
    border-top: 1px dashed #C49760;
    border-right: 1px dashed #C49760;
    border-bottom: 1px solid #C49760;
    border-left: 1px dashed #C49760;
    width: 92%;
    margin:0 auto;
}

table.explain_tab td {
    background-color: #FFFFFF;
    padding-left: 25px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    vertical-align: top;
}

td #explain_title {
    position: absolute;
    line-height: 150%;
    letter-spacing: 1px;
    width: 50px;
}

td #explain_content {
    padding-left: 45px;
    line-height: 150%;
    letter-spacing: 1px;
    width: 97%;
}

table.none {
    border: 0px;
    width: 100%;
}

table.none th {
    border: 0px;
    background-color: transparent;
}

table.none td {
    border: 0px;
}

td.clash {
    background-color: #b69643;
    color: #FFF;
    text-align: center;
}

td.noclash {
    background-color: #cfb97c;
    color: #FFF;
    text-align: center;
}

td.natural {
    background-color: #e4d8b8;
    color: #000;
    text-align: center;
}

table.partitle {
    width: 92%;
    border: 1px solid #C49760;
    margin-bottom: 2px;
}

table.partitle td {
    background-color: #FDFBEE;
    height: 23px;
    background-image: url( ../images/partitledot.gif );
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-left: 30px;
    color: #990000;
    font-size: 13px;
    letter-spacing: 3px;
}

/*indent*/
.indent_five {
    padding-left: 5px;
}

.indent_eight {
    padding-left: 8px;
}

.indent_ten {
    padding-left: 10px;
}

.indent_thirteen {
    padding-left: 13px;
}

#indent_fifteen {
    padding-left: 15px;
}

table.neck {
    width: 92%;
}

table.neck td {
    background-image: url( ../images/space.gif );
    border: 0px;
    height: 4px;
}

/*ÎÄ±¾¿òÏÂÀ­²Ëµ¥ÓÃ*/

#divc {
    font-family: verdana;
    line-height: 50%;
    font-size: 9pt;
    border: 1px solid #333333;
}

.mouseover {
    color: #ffffff;
    background-color: highlight;
    width: 100%;
    cursor: default;
}

.mouseout {
    color: #000000;
    width: 100%;
    background-color: #ffffff;
    cursor: default;
}

span.select{ vertical-align: top !important;z-index:1;vertical-align:baseline;margin-left:2px !important;margin-top:-5px !important;margin:0px; overflow: hidden; height: 18px; border:1 solid #000;}
span.select select{ margin:-2px;z-index:1;font-size:12px;height:17px !important; color: #000; border:1px solid #000}

table td.c,table th.c{text-align:center;}

ul.6li,ul.4li{list-style:none;margin:0;padding:0}
ul.6li li{float:left;width:15%}
ul.4li li{float:left;width:25%}


#arrantable a{text-decoration:underline;cursor:pointer;}
#arrantable a:hover{color:red;text-decoration:none;}

td.disabled_td{background:#E2E2E2;}
td.normal_td{}
.normal_sta{display:block;background:url(../images/normal-1.png) center no-repeat;}
.occupy_sta{display:block;background:url(../images/occupy-1.png) center no-repeat;}
td.disabled_td .normal_sta{background:url(../images/normal-2.png) center no-repeat;}
td.disabled_td .occupy_sta{background:url(../images/occupy-2.png) center no-repeat;}